*.o
.DS_Store
.*.swp
/env
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
/result/
/rootfs/
/openwrt-mxs-root.ext4
/rootfs.img
/sysupgrade_RTU968.tar
/.config.old