config interface '0'
        option mode 'disabled'
        option desc 'A4B4'
        option devicename '/dev/com1'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33000'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'

config interface '1'
        option mode 'disabled'
        option desc 'console'
        option devicename '/dev/com0'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33001'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'

config interface '2'
        option mode 'disabled'
        option desc 'RS-232(1)'
        option devicename '/dev/com10'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33001'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'

config interface '3'
        option mode 'disabled'
        option desc 'RS-232(2)'
        option devicename '/dev/com11'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33001'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'

config interface '4'
        option mode 'disabled'
        option desc 'A1B1'
        option devicename '/dev/com12'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33001'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'

config interface '5'
        option mode 'disabled'
        option desc 'A2B2'
        option devicename '/dev/com13'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33001'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'

config interface '6'
        option mode 'disabled'
        option desc 'A3B3'
        option devicename '/dev/com14'
        option baudrate '9600'
        option bytesize '8'
        option parity 'none'
        option flowcontrol 'none'
        option stopbits '1'
        option server_port '33001'
        option holdconntime '60'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '0'
        option client_timeout '600'
        option modbus_gateway '0'
        