config interface 'RS232'
        option mode 'disabled'
        option bytesize '8'
        option parity 'none'
        option stopbits '1'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '1'
        option baudrate '9600'
        option server_port '33002'

config interface 'RS485'
        option port '33333'
        option mode 'disabled'
        option bytesize '8'
        option client_port '6008'
        option client_host 'hub.m2m24.ru'
        option client_auth '1'
        option baudrate '9600'
        option parity 'none'
        option stopbits '1'
        option server_port '33001'
