config simman core
        option enabled  '1'
                option retry_num '3'
                option check_period '30'
                option delay '6000'
                option testip '8.8.8.8 8.8.4.4'
                option atdevice '/dev/ttyACM3'
                option iface 'wan2'
                option sim ''
                option imei 'NONE'
                option ccid 'NONE'
                option gsmpow_gpio_pin '91'
                option simdet_gpio_pin '77'
                option simaddr_gpio_pin '69'
                option simdet0_gpio_pin '88'
                option simdet1_gpio_pin '80'
                
config simman info
                option atdevice '/dev/ttyACM4'
                option sim 'NONE'
                option imei 'NONE'
                option ccid 'NONE'
                option pincode_stat 'NONE'
                option sig_lev 'NONE'
                option reg_stat 'NONE'
                option base_st_id 'NONE'
                option base_st_bw 'NONE'
                option net_type 'NONE'
                option gprs_reg_stat 'NONE'
                option pack_type 'NONE'

config sim0
                option priority '1'
                option pin ''
                option GPRS_user ''
                option GPRS_pass ''
                option GPRS_apn 'internet'

config sim1
                option priority '0'
                option pin ''
                option GPRS_user ''
                option GPRS_pass ''
                option GPRS_apn 'internet'