SUBSYSTEM=="tty" KERNELS=="2-1:1.0" SYMLINK+="EHS5-0"
SUBSYSTEM=="tty" KERNELS=="2-1:1.2" SYMLINK+="EHS5-1"
SUBSYSTEM=="tty" KERNELS=="2-1:1.4" SYMLINK+="EHS5-2"
SUBSYSTEM=="tty" KERNELS=="2-1:1.6" SYMLINK+="EHS5-3"
SUBSYSTEM=="tty" KERNELS=="2-1:1.8" SYMLINK+="EHS5-4"
SUBSYSTEM=="tty" KERNELS=="2-1:1.10" SYMLINK+="EHS5-5"
SUBSYSTEM=="tty" KERNELS=="2-1:1.12" SYMLINK+="EHS5-6"